.glecontainer{
    display: flex;
    justify-content: center;
}
#gle{
    height: 15rem;
    display: block;
}
#glemoble{
    display: none;
    height: 20rem;
}
#gleinputcontainer {
    border-radius: 5rem;
    border: 1px solid grey;
    /* width: 38%; */
    min-width: 40%;
    /* max-width: 69%; */
    display: flex;
    justify-content: center;
}
#inputicon {
    align-items: center;
    justify-content: center;
    display: flex;
}
#search {
    padding: 0.75rem;
    width: 80%;
    /* min-width:20rem ; */
    /* max-width: 30rem; */
    border:  none;
    outline: 0;
    border-radius: 5rem;
    font-size: 1rem;
    margin-left: 14px;
    margin-right: 14px;
}
#belowsrch{
    display: flex;
    justify-content: center;
    
}

#COntents{
    justify-content: space-around;
    text-align: center;
    padding: .5rem;
    width: 10rem;
    margin-top: 2rem;
    margin-right: 20px;
    margin-bottom: 2rem;
    margin-left: 20px;
    background-color: rgb(233, 233, 233);
    box-shadow: 2px 2px 9px 0px black;
}
#belowcontents{
    display: flex;
    justify-content: center;
}
#offerd{
    text-align: center;
}
.links{
    padding-right: 1rem;
}
.links a:link{
    text-decoration: none;
}
@media screen  and (max-width: 1200px){
    #gle{
        height: 20rem;
        display: none;
    }
    #glemoble{
        display: block;
        height: 10rem;
    }
    #inputicon {
        margin-left: 4px;
        align-items: center;
        justify-content: center;
        display: flex;
    }
    #gleinputcontainer {
        border-radius: 5rem;
        border: 1px solid grey;
        width: 70%;
        min-width: 40%;
        max-width: 80%;
    }
    #search {
        /* padding: 0.75rem; */
        width: 80%;
        /* min-width: 20rem; */
        /* max-width: 30rem; */
        border: none;
        outline: 0;
        border-radius: 5rem;
        font-size: 1rem;
        /* margin-left: 14px; */
        /* margin-right: 14px; */
    }
}